<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
        <style>
            @media all and (max-width: 800px) {
                .product-card {
                    height: 25vh;
                    width: 10wh;
                }

                .banner-content__button {
                    font-size: 13px;
                    padding: 7px;
                }

                .banner-content__title {
                    font-size: 40px;
                }
            }
        </style>
</head>

<body>
    <%- include('../partials/header.ejs') %>
        <div class="">
            <!-- --------------------banner------------------ -->
            <section class="banner">
                <div class="banner-content">
                    <h1 class="banner-content__title">
                        Infra Auc
                    </h1>
                    <a href="/products/add-product" class="banner-content__button">
                        sale your Infra
                    </a>
                    <img class="img-animate img-animate9" src="icons8-laptop-100.png" />
                    <img class="img-animate img-animate1" src="icons8-laptop-100.png" /><img
                        class="img-animate  img-animate10" src="icons8-laptop-100.png" /><img
                        class="img-animate  img-animate2" src="icons8-laptop-100.png" /><img
                        class="img-animate  img-animate3" src="icons8-laptop-100.png" />
                    <img class="img-animate  img-animate12" src="icons8-laptop-100.png" /><img
                        class="img-animate  img-animate6" src="icons8-laptop-100.png" /><img
                        class="img-animate  img-animate7" src="icons8-laptop-100.png" />
                    <img class="img-animate  img-animate13" src="icons8-laptop-100.png" /><img
                        class="img-animate  img-animate8" src="icons8-laptop-100.png" />
                    <img class="img-animate  img-animate5" src="icons8-laptop-100.png" />
                </div>
            </section>

            <!-- ----------------------- product card -------------------- -->
            <%if(res) { %>
                <% res.forEach((docs)=> { %>
                    <a href="/products/<%=docs._id%>" class="cent1">
                        <section class="product-card">
                            <div class="wrapper">
                                <div class="product-card-inner">
                                    <img src="<%= docs.productImage %>" alt="" class="product__image" />
                                </div>
                                <div class="product-card-outer-1">
                                    <h3 class="product-card__head">
                                        <%= docs.name %>
                                    </h3>
                                    <span class="product-card__catogary">
                                        <%= docs.Category %>
                                    </span>
                                </div>
                                <div class="product-card-outer-2">
                                    <p class="product-card__description">
                                        <%= docs.description %>
                                    </p>
                                </div>

                                <div class="product-card-outer-3">
                                    <label for="" class="product-card__label">
                                        <%= docs.price %>$
                                    </label>
                                    <button class="product-card__button"></button>
                                    <button class="product-card__button-2">Buy Now!</button>
                                </div>
                            </div>
                        </section>
                    </a>

                    <%}); %>
                        <%}%>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js "
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo "
            crossorigin="anonymous "></script>
        <script src="https://kit.fontawesome.com/37b0091828.js" crossorigin="anonymous"></script>
        <script src="app.js"></script>
</body>

</html>